/*contactos valita*/
/*contactos valita*/
/*contactos valita*/
/*mixin para centrar en contactos, valita*/
/*parte final de contactos, valita*/
.img-pd {
  padding: 2% 0; }

.fa-circle {
  font-size: 0.4em;
  color: #7D7D7D;
  padding: 1%; }

h1 {
  font-size: 54px;
  font-weight: bold; }

header.bg-gray {
  background: #F4F5F7;
  border-bottom: 1px solid gray; }
  header.bg-gray .container .row .col-md-16 img {
    padding: 1% 0; }
  header.bg-gray .container .row .col-md-10 a {
    font-size: 0.7em;
    color: #7D7D7D;
    padding: 0%;
    margin: 0 1%; }
  header.bg-gray .container .row .col-md-6 button {
    font-size: 0.6em; }
  header.bg-gray .container .row .col-md-6 a i.fa-facebook {
    font-size: 1em;
    color: #2E6296;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-twitter {
    font-size: 1em;
    color: #55ACEE;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-google-plus {
    font-size: 1em;
    color: #B74033;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-envelope {
    font-size: 1em;
    color: #FFBF00;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-rss {
    font-size: 1em;
    color: #FF8000;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a.btn {
    background: transparent;
    border-radius: 0;
    border-top: none;
    border-right: 1px solid;
    border-bottom: none;
    border-left: 1px solid;
    font-size: 0.7em;
    color: #7D7D7D;
    padding: 2% 3%; }

header.seccion-logo .container .row .col-md-6 img.logo {
  padding-top: 40px; }
header.seccion-logo .container .row .col-md-5 {
  padding-top: 10px; }
  header.seccion-logo .container .row .col-md-5 .publi-futbol {
    text-align: center;
    position: relative; }
    header.seccion-logo .container .row .col-md-5 .publi-futbol .fut-superior {
      font-size: 0.9em;
      color: white;
      padding: 1px 8px;
      background: #1f1f1f;
      display: inline;
      font-family: Courier;
      letter-spacing: 0.5px;
      font-weight: 200;
      position: relative;
      -moz-box-shadow: 0px 1px 1px gray;
      -webkit-box-shadow: 0px 1px 1px gray;
      box-shadow: 0px 1px 1px gray; }
    header.seccion-logo .container .row .col-md-5 .publi-futbol .fut-inferior {
      font-size: 0.75em;
      color: #1f1f1f;
      padding: 25px 2px 15px;
      border-top: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
      border-bottom: 3px solid gray;
      border-left: 1px solid whitesmoke;
      font-weight: 600;
      margin: -12px; }

section .container .row .col-md-16 {
  margin: 5px 0; }
  section .container .row .col-md-16 nav.nav-red ul {
    background: #BA1414;
    padding: 0;
    margin: 0;
    border-radius: 5px; }
    section .container .row .col-md-16 nav.nav-red ul li {
      display: inline-block;
      list-style: none; }
      section .container .row .col-md-16 nav.nav-red ul li a {
        text-decoration: none;
        font-size: 0.75em;
        color: white;
        padding: 0% 0.5%; }
        section .container .row .col-md-16 nav.nav-red ul li a:hover {
          color: #811101; }

section.body-home img.publi-lat {
  margin: 0 0.5%; }
  section.body-home img.publi-lat.banner-lat-left {
    float: left; }
  section.body-home img.publi-lat.banner-lat-right {
    float: right; }
section.body-home .container .row .col-md-16 ul {
  background: #e2e6e9;
  padding: 0;
  margin: 0;
  border-radius: 5px; }
  section.body-home .container .row .col-md-16 ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none; }
    section.body-home .container .row .col-md-16 ul li.temas-dia {
      background: #1f1f1f;
      font-family: "Agency FB";
      font-size: 1em;
      color: white;
      padding: 0.5% 1.5%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    section.body-home .container .row .col-md-16 ul li.item-temas {
      margin-left: 0.8%; }
    section.body-home .container .row .col-md-16 ul li a {
      text-decoration: none;
      font-size: 0.75em;
      color: #1f1f1f;
      padding: 0% 0.5%; }
      section.body-home .container .row .col-md-16 ul li a:hover {
        color: gray; }

footer {
  background-color: #F4F5F7;
  padding: 2%; }
  footer .grupo-la-republica {
    float: right; }
    footer .grupo-la-republica h4 {
      font-size: 15px; }
    footer .grupo-la-republica p {
      font-size: 15px; }
    footer .grupo-la-republica .derechos-reservados {
      font-size: 12px; }
  footer .listas-footer {
    border-left: 2px solid white; }
    footer .listas-footer ul {
      display: inline-block;
      font-size: 12px; }
      footer .listas-footer ul li {
        list-style: none;
        padding: 0.5%; }
  footer .lista-final-footer {
    border-top: 2px solid white;
    padding: 2%; }
    footer .lista-final-footer ul li {
      list-style: none;
      padding: 0.5%;
      display: inline-block;
      font-size: 10px;
      border-right: 1px solid gray; }

.cont-ico {
  margin: 1% 0; }
  .cont-ico div.btn-rrss {
    display: inline-block; }
    .cont-ico div.btn-rrss a i {
      background: #F4F5F7;
      width: 25px;
      height: 28px;
      padding-top: 5px;
      vertical-align: middle;
      border-radius: 4px;
      border-bottom: 3px solid; }
      .cont-ico div.btn-rrss a i.fb {
        color: #2E6296; }
      .cont-ico div.btn-rrss a i.tw {
        color: #55ACEE; }
      .cont-ico div.btn-rrss a i.gl {
        color: #B74033; }
      .cont-ico div.btn-rrss a i:hover {
        border-bottom: 1px solid;
        height: 26px; }
  .cont-ico span.txt-ico {
    font-size: 0.7em;
    color: #667885;
    padding: 0; }

.img-bg.img-grid-izq {
  background-image: url(../image/img_grid_principal.jpg);
  background-size: 100%; }
.img-bg .degrade-gris {
  background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(rgba(255, 255, 255, 0)), to(#292929)); }
  .img-bg .degrade-gris .text-grid-izq {
    font-size: 1.8em;
    color: white;
    padding: 80% 5% 2% 5%;
    margin: 0;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000000; }
.img-bg.img-grid-der {
  background-image: url(../image/img_grid_secundario.jpg);
  background-size: 100%; }
  .img-bg.img-grid-der .text-grid-der {
    font-size: 1.3em;
    color: white;
    padding: 32% 5% 2% 5%;
    margin: 0;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000000; }

.columnistas {
  background: #F4F5F7;
  position: relative;
  margin-top: 20px;
  border-top: 5px solid #BA1414;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; }
  .columnistas .title-section {
    position: absolute;
    font-size: 1.6em;
    color: white;
    padding: 2px 20px;
    font-family: "Agency FB";
    background: #BA1414;
    margin: -1.5% 42% 0 42%; }
  .columnistas div.cont-columnistas {
    display: inline-block;
    width: 16%;
    padding: 3% 1%;
    margin: 0% 0%; }
    .columnistas div.cont-columnistas .img-columnista {
      width: 90px;
      height: 90px;
      margin: 0 8px; }
    .columnistas div.cont-columnistas .nombre-colum {
      font-size: 0.7em;
      color: #1f1f1f;
      padding: 2px 0; }
    .columnistas div.cont-columnistas .txt-colum {
      font-weight: 600; }

.imagen-lateral img {
  max-width: 100%; }

.contactos h1 {
  text-align: center;
  font-size: 40px; }
.contactos p {
  max-width: 100%;
  font-size: 15px; }

.informacion {
  margin: 1% 5%;
  margin-right: 5%; }
  .informacion .form-control {
    padding-right: 70%; }

.destinatario {
  padding: 15px; }
  .destinatario h4 {
    font-size: 15px; }
  .destinatario .selector-punto .ej-1 {
    float: left;
    max-width: 50%;
    font-size: 15px; }
  .destinatario .selector-punto .ej {
    float: right;
    max-width: 50%;
    font-size: 10px; }
  .destinatario .mensaje {
    margin: 1% 5%;
    margin-right: 5%;
    margin-right: 26%; }
    .destinatario .mensaje .form-control {
      padding: 6% 100%;
      background-color: #F4F5F7;
      border: 2px solid #cccccc; }
  .destinatario .boton-centrado button {
    background-color: black;
    padding: 1% 15%;
    color: white;
    margin-left: 30%; }

/*# sourceMappingURL=main.css.map */
