/*titulo de inicio de cada pagina valita*/
/*parafo de paginas al inicio valita*/
/*mixin para centrar en contactos, valita*/
/*parte final de contactos, valita*/
img {
  padding: 2% 0; }

header.bg-gray {
  background: #F4F5F7;
  border-bottom: 1px solid gray; }
  header.bg-gray .container .row .col-md-16 img {
    padding: 1% 0; }
  header.bg-gray .container .row .col-md-10 a {
    font-size: 0.7em;
    color: #7D7D7D;
    padding: 0%;
    margin: 0 1%; }
  header.bg-gray .container .row .col-md-6 button {
    font-size: 0.6em; }
  header.bg-gray .container .row .col-md-6 a i.fa-facebook {
    font-size: 1em;
    color: #2E6296;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-twitter {
    font-size: 1em;
    color: #55ACEE;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-google-plus {
    font-size: 1em;
    color: #B74033;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-envelope {
    font-size: 1em;
    color: #FFBF00;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a i.fa-rss {
    font-size: 1em;
    color: #FF8000;
    padding: 0% 1%; }
  header.bg-gray .container .row .col-md-6 a.btn {
    background: transparent;
    border-radius: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: none;
    border-bottom: none;
    font-size: 0.7em;
    color: #7D7D7D;
    padding: 2% 3%; }

header.seccion-logo .container .row .col-md-6 img.logo {
  padding-top: 40px; }
header.seccion-logo .container .row .col-md-5 {
  padding-top: 10px; }
  header.seccion-logo .container .row .col-md-5 .publi-futbol {
    text-align: center;
    position: relative; }
    header.seccion-logo .container .row .col-md-5 .publi-futbol .fut-superior {
      font-size: 0.9em;
      color: white;
      padding: 1px 8px;
      background: #1f1f1f;
      display: inline;
      font-family: Courier;
      letter-spacing: 0.5px;
      font-weight: 200;
      position: relative;
      -moz-box-shadow: 0px 1px 1px gray;
      -webkit-box-shadow: 0px 1px 1px gray;
      box-shadow: 0px 1px 1px gray; }
    header.seccion-logo .container .row .col-md-5 .publi-futbol .fut-inferior {
      font-size: 0.75em;
      color: #1f1f1f;
      padding: 25px 2px 15px;
      border-top: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
      border-bottom: 3px solid gray;
      border-left: 1px solid whitesmoke;
      font-weight: 600;
      margin: -12px; }

section .container .row .col-md-16 {
  margin: 1% 0; }
  section .container .row .col-md-16 nav.nav-red ul {
    background: #BA1414;
    padding: 0;
    margin: 0;
    border-radius: 5px; }
    section .container .row .col-md-16 nav.nav-red ul li {
      display: inline-block;
      list-style: none; }
      section .container .row .col-md-16 nav.nav-red ul li a {
        text-decoration: none;
        font-size: 0.75em;
        color: white;
        padding: 0% 0.5%; }
        section .container .row .col-md-16 nav.nav-red ul li a:hover {
          color: #811101; }

footer {
  background-color: #F4F5F7;
  padding: 2%; }
  footer .grupo-la-republica {
    float: right; }
    footer .grupo-la-republica h4 {
      font-size: 17px; }
    footer .grupo-la-republica p {
      font-size: 17px; }
    footer .grupo-la-republica .derechos-reservados {
      font-size: 12px; }
  footer .listas-footer {
    border-left: 2px solid white; }
    footer .listas-footer ul {
      display: inline-block;
      font-size: 12px; }
      footer .listas-footer ul li {
        list-style: none;
        padding: 0.5%; }
  footer .lista-final-footer {
    border-top: 2px solid white;
    padding: 2%; }
    footer .lista-final-footer ul li {
      list-style: none;
      padding: 0.5%;
      display: inline-block;
      font-size: 10px;
      border-right: 1px solid gray; }

.columnista h1 strong {
  font-size: 40px; }
.columnista div {
  color: #2f4b77;
  font-size: 17px; }
  .columnista div img {
    font-size: 17px;
    display: inline-block; }

.caja {
  margin: 10%;
  border: 2px solid #999999;
  padding: 8%; }
  .caja .fecha {
    text-align: center;
    font-size: 12px; }
  .caja h3 {
    padding: 1%; }
    .caja h3 a {
      color: black;
      text-decoration: none;
      font-size: 17px; }
  .caja .caja-gris-colum {
    background-color: #F4F5F7; }
    .caja .caja-gris-colum img {
      height: 70px;
      width: 70px; }
    .caja .caja-gris-colum .columnistas {
      display: inline-block;
      padding: 2%; }
      .caja .caja-gris-colum .columnistas .nombre {
        font-size: 12px; }
      .caja .caja-gris-colum .columnistas .caract {
        color: gray;
        font-size: 13px; }

.imagen-lateraal img {
  max-width: 100%; }

.contactos h1 {
  text-align: center; }
  .contactos h1 strong {
    font-size: 40px; }
.contactos p {
  font-size: 17px;
  padding: 1%; }

.informacion .input-group-sm {
  margin: 1% 10%;
  margin-right: 5%; }
  .informacion .input-group-sm .buscador {
    margin-right: 540px;
    background-color: #F4F5F7;
    -webkit-box-shadow: inset -1px -4px 57px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -1px -4px 57px -22px rgba(0, 0, 0, 0.75);
    box-shadow: inset -1px -4px 57px -22px rgba(0, 0, 0, 0.75); }
    .informacion .input-group-sm .buscador p {
      font-size: 12px; }

.destinatario {
  padding: 17px; }
  .destinatario h4 strong {
    font-size: 17px; }
  .destinatario .selector-punto .ej-1 {
    display: inline-block;
    max-width: 50%;
    font-size: 17px; }
    .destinatario .selector-punto .ej-1 .btn-circle {
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 2px 0;
      font-size: 12px;
      line-height: 1.42;
      border-radius: 15px; }
  .destinatario .selector-punto .ej {
    float: right;
    max-width: 50%;
    font-size: 12px; }
  .destinatario .mensaje {
    margin: 1% 10%;
    margin-right: 5%;
    margin: 5%; }
    .destinatario .mensaje .input-group .form-control {
      margin-right: 540px;
      background-color: #F4F5F7;
      -webkit-box-shadow: inset -1px -4px 57px -22px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset -1px -4px 57px -22px rgba(0, 0, 0, 0.75);
      box-shadow: inset -1px -4px 57px -22px rgba(0, 0, 0, 0.75);
      padding-bottom: 200px; }
  .destinatario .boton-centrado button {
    background-color: black;
    padding: 1% 15%;
    color: white;
    margin-left: 30%; }

/*# sourceMappingURL=main.css.map */
