header.bg-gray {
	background: $bg-gris;
	border-bottom: 1px solid gray;
	.container .row {
		.col-md-16 img {
		padding: 1% 0;
		}
		.col-md-10 a {
			@include txt (0.7em, $gris-claro, 0%);
			margin: 0 1%;
		}
		.col-md-6 {
			button {
				font-size: 0.6em;
			}
			a i.fa-facebook {
				@include txt (1em, $fb, 0% 1%)
			}
			a i.fa-twitter {
				@include txt (1em, $tw, 0% 1%)
			}
			a i.fa-google-plus {
				@include txt (1em, $gl, 0% 1%)
			}
			a i.fa-envelope {
				@include txt (1em, $ml, 0% 1%)
			}
			a i.fa-rss {
				@include txt (1em, $rss, 0% 1%)
			}
			a.btn {
				background: transparent;
				border-radius: 0;
				@include borde (none, 1px solid, none, 1px solid);
				@include txt (0.7em, $gris-claro, 2% 3%);
			}
		}
	}
}
header.seccion-logo .container .row {
	.col-md-6 img.logo {
		padding-top: 40px;
	}
	.col-md-5 {
		padding-top: 10px;
		.publi-futbol {
			text-align: center;
			position: relative;
			.fut-superior {
				@include txt (0.9em, white, 1px 8px);
				background: $gris-oscuro;
				display: inline;
				font-family: Courier;
				letter-spacing: 0.5px;
				font-weight: 200;
				position: relative;
				-moz-box-shadow: 0px 1px 1px gray;
				-webkit-box-shadow: 0px 1px 1px gray;
				box-shadow: 0px 1px 1px gray;
			}
			.fut-inferior {
				@include txt (0.75em, $gris-oscuro, 25px 2px 15px);
				@include borde (1px solid whitesmoke, 1px solid whitesmoke, 3px solid gray, 1px solid whitesmoke);
		    font-weight: 600;
				margin: -12px;
			}
		}
	}
}
section .container .row {
	.col-md-16 {
		margin: 5px 0;
		nav.nav-red {
			ul {
				background: $rojo;
				padding: 0;
				margin: 0;
				border-radius: 5px;
				li {
					display: inline-block;
					list-style: none;
					a {
						text-decoration: none;
						@include txt (0.75em, white, 0%);
						&:hover {
							color: $rojo-oscuro;
						}
					}
				}
			}
		}
	}
}

// Estilos desde seccion Temas del Dia
// hasta banner publicitario del header
// Incuye publicidad lateral para todas las paginas
section.body-home {
	img.publi-lat {
		margin: 0 0.5%;
		width: 8%;
		&.banner-lat-left {
			float: left;
		}
		&.banner-lat-right {
			float: right;
		}
	}
	.container .row .col-md-16 {
		ul {
			background: $bg-gris-az;
			padding: 0;
			margin: 0;
			border-radius: 5px;
			li {
				display: inline-block;
				list-style: none;
				text-decoration: none;
				&.temas-dia {
					background: $gris-oscuro;
					font-family: 'PT Sans Narrow', sans-serif;
					@include txt (1em, white, 0.5% 1.5%);
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				&.item-temas {
					margin-left: 0.2%;
				}
				a {
					text-decoration: none;
					@include txt (0.75em, $gris-oscuro, 0% 0.5%);
					&:hover {
						color: gray;
					}
				}
			}
		}
	}
}