@mixin txt ($size, $color, $pd) {
	font-size: $size;
	color: $color;
	padding: $pd;
}//para TEXTOs cambiar tamaño, color y darle padding, Camila

@mixin borde ($bt, $br, $bb, $bl) {
	border-top: $bt;
	border-right: $br;
	border-bottom: $bb;
	border-left: $bl;
}//para poner borde a cualquier elemento

@mixin centrado-texto() {
	margin:1% 10%;
	margin-right:5%;
}/*mixin para centrar en contactos, valita*/

@mixin final() {
	list-style: none;
    padding: 0.5%;
}/*parte final de contactos, valita*/
@mixin boton-circulo() {
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 2px 0;
	font-size: 12px;
	line-height: 1.42;
	border-radius: 15px;
}
@mixin buscador-contacto() {
	margin-right: 540px;
	background-color:$bg-gris;
	-webkit-box-shadow: inset -1px -4px 57px -22px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -1px -4px 57px -22px rgba(0,0,0,0.75);
	box-shadow: inset -1px -4px 57px -22px rgba(0,0,0,0.75);

}

