@mixin txt ($size, $color, $pd) {
	font-size: $size;
	color: $color;
	padding: $pd;
}//para TEXTOs cambiar tamaño, color y darle padding, Camila

@mixin borde ($bt, $br, $bb, $bl) {
	border-top: $bt;
	border-right: $br;
	border-bottom: $bb;
	border-left: $bl;
}//para poner borde a cualquier elemento, Camila

@mixin centrado-texto() {
	margin:1% 10%;
	margin-right:5%;
}/*mixin para centrar en contactos, valita*/

@mixin final() {
	list-style: none;
    padding: 0.5%;
}/*parte final de contactos, valita*/
@mixin buscador-contacto() {
	margin-right: 410px;
	background-color:$bg-gris;
	-webkit-box-shadow: inset -1px -4px 57px -22px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -1px -4px 57px -22px rgba(0,0,0,0.75);
	box-shadow: inset -1px -4px 57px -22px rgba(0,0,0,0.75);

}

@mixin text-grid () {
	margin: 0;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000000;
}// Para el texto que va dentro de las imagenes en degradado
