@mixin txt ($size, $color, $pd) {
	font-size: $size;
	color: $color;
	padding: $pd;
}
@mixin borde ($bt, $br, $bb, $bl) {
	border-top: $bt;
	border-right: $br;
	border-bottom: $bb;
	border-left: $bl;
}