$bg-gris: rgb(227,227,227); //gris claro que se usa para el background de header y footer

$gris-claro: rgb(120,120,120); //para pie de pagina (lo que esta al final de footer)
$gris-oscuro: rgb(31,31,31); //para titulos y letras

//estos dos colores van juntos en el cuerpo de cada pagina
$gris-az: rgb(102,120,133); //es un color mas azulado para las letras
$bg-gris-az: rgb(226,230,233);// color de fondo mas azulado

$rojo-claro: rgb(195,60,45); //rojo claro para menu e icono de youtube
$rojo: rgb(186,20,20); //para el menu del header, y botones rojos del cuerpo
$rojo-oscuro: rgb(129,17,1); //para el menu

//colores redes sociales
$fb: rgb(46,98,150); //facebook
$tw: rgb(85,172,238); //twitter
$gl: rgb(183,64,51); //google

$titulo-inicio:40px;/*contactos valita*/
$letra-chica:15px;/*contactos valita*/
$border-buscadores:2px solid #cccccc;/*contactos valita*/