$bg-gris: #F4F5F7; //gris claro que se usa para el background de header y footer

$gris-claro: #7D7D7D; //para pie de pagina (lo que esta al final de footer)
$gris-oscuro: rgb(31,31,31); //para titulos y letras

//estos dos colores van juntos en el cuerpo de cada pagina
$gris-az: rgb(102,120,133); //es un color mas azulado para las letras
$bg-gris-az: rgb(226,230,233);// color de fondo mas azulado

$rojo-claro: rgb(195,60,45); //rojo claro para menu e icono de youtube
$rojo: #BA1414; //para el menu del header, y botones rojos del cuerpo
$rojo-oscuro: rgb(129,17,1); //para el menu

//colores redes sociales
$fb: #2E6296; //facebook
$tw: #55ACEE; //twitter
$gl: #B74033; //google
$ml: #FFBF00; //email
$rss: #FF8000; //rrss

$titulo-inicio:40px;/*contactos valita*/
$letra-chica:15px;/*contactos valita*/
$border-buscadores:2px solid #cccccc;/*contactos valita*/

//degrade para las imagenes, Camila
$degrade: -webkit-gradient(linear, 0% 50%, 0% 100%, from(rgba(255, 255, 255, 0)), to(#292929));

$titulo-inicio:40px;/*titulo de inicio de cada pagina valita*/
$letra-chica:17px;/*parafo de paginas al inicio valita*/
