.col-md-12{
	max-width: 100%;
	.columnista{
		h1{
			strong{
				font-size: $titulo-inicio;
			}
		}
		div{
			color:#2f4b77;
			font-size: $letra-chica;
			img{
				font-size: $letra-chica;
				display:inline-block;
			}
		}
	}
}
.caja{
	margin:10%;
	border:2px solid #999999;
	padding: 10%;
	.fecha{
		text-align: center;
		font-size: 12px;
	}
	h3{
		a{
			color:black;
			text-decoration: none;
		}
	}
	.caja-gris-colum{
		background-color:$bg-gris;
		img{
			height: 70px;
			width: 70px;
		}
		.columnistas{
			display: inline-block;
			padding: 2%;
			.nombre{
				font-size: 12px;
			}
			.caract{
				color:gray;
			}
		}
	}
}