.imagen-lateraal{
	img{
		max-width: 100%;
	}
}
.contactos{
	h1{
		text-align: center;
		strong{
			font-size: $titulo-inicio;
		}
	}
	p{
		font-size: $letra-chica;
		padding: 1%;
	}
}
.informacion{
	.input-group-sm{
		@include centrado-texto;
		.buscador{
			@include buscador-contacto;
			p{
				font-size: 12px;
			}
		}
	}
}
.destinatario{
	padding: $letra-chica;
	h4{
		strong{
			font-size: $letra-chica;
		}
	}
	.selector-punto{
		.ej-1{
			display: inline-block;
			max-width: 50%;
			font-size: $letra-chica;
			.btn-circle {
				@include boton-circulo;
			}
		}
		.ej{
			float:right;
			max-width: 50%;
			font-size: 12px;
		}
	}
	.mensaje{
		@include centrado-texto;
		margin:5%;
		.input-group{
			.form-control{
				@include buscador-contacto;
			}
		}
	}
	.boton-centrado{
		button{
			background-color: black;
			padding: 1% 15%;
			color:white;
			margin-left: 30%;
		}
	}
}