section.body-home {
	img.publi-lat {
		margin: 0 0.5%;
		&.banner-lat-left {
			float: left;
		}
		&.banner-lat-right {
			float: right;
		}
	}
	.container .row .col-md-16 {
		ul {
			background: $bg-gris-az;
			padding: 0;
			margin: 0;
			border-radius: 5px;
			li {
				display: inline-block;
				list-style: none;
				text-decoration: none;
				&.temas-dia {
					background: $gris-oscuro;
					font-family: "Agency FB";
					@include txt (1em, white, 0.5% 1.5%);
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				&.item-temas {
					margin-left: 0.8%;
				}
				a {
					text-decoration: none;
					@include txt (0.75em, $gris-oscuro, 0% 0.5%);
					&:hover {
						color: gray;
					}
				}
			}
		}
	}
}