header.bg-gray {
	background: $bg-gris;
	border-bottom: 1px solid gray;
	.container .row {
		.col-md-16 img {
		padding: 1% 0;
		}
		.col-md-10 a {
			@include txt (0.7em, $gris-claro, 0%);
			margin: 0 1%;
		}
		.col-md-6 {
			button {
				font-size: 0.6em;
			}
			a i.fa-facebook {
				@include txt (1em, $fb, 0% 1%)
			}
			a i.fa-twitter {
				@include txt (1em, $tw, 0% 1%)
			}
			a i.fa-google-plus {
				@include txt (1em, $gl, 0% 1%)
			}
			a i.fa-envelope {
				@include txt (1em, $ml, 0% 1%)
			}
			a i.fa-rss {
				@include txt (1em, $rss, 0% 1%)
			}
			a.btn {
				background: transparent;
				border-radius: 0;
				border-left: 1px solid;
				border-right: 1px solid;
				border-top: none;
				border-bottom: none;
				@include txt (0.7em, $gris-claro, 2% 3%)
			}
		}
	}
}